#sidebar {
  position: fixed;

  background-color: #ffffff;
  height: 40vh;
  width: 100px;

  right: 20px;
  bottom: 47px;

  transition: all 0.5s ease;
}

#sidebar.open {
  max-width: 300px;
}

#sidebar.closed {
  max-width: 0;
}


.sidebar-toggle {
  position: fixed;
  right: 20px;
  bottom: 47px;
}
